@import 'profile';

$headers-font: 'Libre Baskerville', 'serif';
$body-font: 'Nunito', 'serif';

body {
  // background-color: #fbc547;
  margin: 0;
  color: #333;

  h1,
  h4 {
    font-family: $headers-font;
  }

  p,
  a {
    font-family: $body-font;
  }
}

.header-content {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repat;
  background-position: center;
  background-image: url('https://res.cloudinary.com/dguxqdu8p/image/upload/v1580057038/litang-background_npbxdl.jpg');
  color: black;
}

#header-title {
  padding-top: 130px;
  padding-left: 40px;

  h1 {
    color: #2F5968;
    font-size: 100px;
    margin: 0;
    text-shadow: -1px 1px black;
  }

  h4 {
    color: #474e52;
    font-size: 14px;
    margin: 0;
  }
}

.about-me-description {
  margin-left: 80px;
}

.learn-more {
  font-family: $body-font;
  color: black;
  background-color: rgba(255, 255, 255, .4);
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.8s ease;
  padding: 1.25rem 1.75rem;
  text-decoration: none;
  margin-left: 180px;
  margin-top: 10px;

  &:hover {
  color: white;
  background-color: transparent;
  }
}


