---
title: Nick Galluzzo
---

<div class="container">
  <div class="header-content">
    <div id="header-title">
      <h4>Hi, I'm</h4>
      <h1>Nick Galluzzo.</h1>
      <h4>I'm a software developer based in NYC specializing in building high-quality websites and applications.</h4>
      <button class='learn-more'>Learn More.</button>
    </div>
  </div>


</div>
<h1 id='about-me'>Hello World!</h1>



