---
title: Nick Galluzzo
---
<div class="container">
  <div class="header-content">
    <div id="header-title">
      <h4>Hi, I'm...</h4>
      <h1>Nick Galluzzo.</h1>
      <button class='learn-more'>Learn More</button>
    </div>
  </div>
  <section class="profile">
    <div class="profile-container">
      <section class="about-me">
        <div class="about-me-content">
          <%= image_tag 'nick-galluzzo-profile.jpeg', id: 'profile-image' %>
          <div class="about-me-description">
            <h1>你好.</h1>
            <hr class='title-hr'>
            <p>I'm a software developer based in NYC who specializes in building high-quality websites and applications.</p>
              <p>Not only do I love coding, having been a psychology teacher in China over the past 4 years while learning Mandarin and software development in my free time,
              I'm also passionate about continuous learning and teaching.</p>
              <p>I always look forward to indulging in new languages (programming languages and world languages),
            photography techniques, books, long distance cycling trips, mentoring, and meeting new people.  </p>
            <div class="contact-me">
              <a href="../images/nickgalluzzo-resume.pdf"><button class='contact-me-button'>View My Resume</button></a>
              <a href="mailto: n.galluzzo@gmail.com"><button class='contact-me-button'>Email Me</button></a>
            </div>
          </div>
        </div>
        <div class="technical-skills">
          <i class="devicon-ruby-plain-wordmark"></i>
          <i class="devicon-rails-plain-wordmark"></i>
          <i class="devicon-react-original-wordmark"></i>
          <i class="devicon-javascript-plain"></i>
          <i class="devicon-html5-plain-wordmark"></i>
          <i class="devicon-css3-plain-wordmark"></i>
          <i class="devicon-postgresql-plain-wordmark"></i>
          <i class="devicon-git-plain-wordmark"></i>
          <i class="devicon-bootstrap-plain-wordmark"></i>
          <i class="devicon-wordpress-plain-wordmark"></i>
          <i class="devicon-heroku-original-wordmark"></i>
          <i class="devicon-photoshop-plain"></i>
        </div>
      </section>
    </div>
    <ul class='social-media'>
      <li><a href="mailto: n.galluzzo@gmail.com"><i class="far fa-envelope"></i></a></li>
      <li><a href="https://github.com/nick-galluzzo"><i class="fab fa-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/nick-galluzzo-a9283042/"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://www.instagram.com/ngalluzzo/"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </section>
</div>




